# docker
docker-compose.yml*
docker-compose.yml.dev
docker-compose.yml.prod

# Environment Variables
.env
.env.*
!.env.example
letsEncrypt
# Project Dependencies
node_modules

# macOS
.DS_Store

# Turbo
.turbo