// Icons & Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'hero-new';
  src: url('https://use.typekit.net/af/ab749c/00000000000000003b9af1da/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/ab749c/00000000000000003b9af1da/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/ab749c/00000000000000003b9af1da/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus:outline-none;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply font-inter text-sm;
    @apply bg-neutral-50 text-neutral-900;
  }

  p {
    @apply leading-relaxed;
  }

  a {
    @apply cursor-pointer font-medium hover:underline;
  }
}

// Partials
@import 'partials/reset';
@import 'partials/forms';
@import 'partials/toast';
