.resume {
  @apply flex flex-col;
  position: relative;

  .preview {
    aspect-ratio: 1 / 1.41;
    @apply relative cursor-pointer rounded-sm shadow;
    @apply bg-neutral-100 transition-opacity hover:opacity-80 dark:bg-neutral-800;
  }
  .menu {
    position: absolute;
    bottom: 40px;
    right: -18px;
    @apply cursor-pointer;
    @apply bg-slate-50 dark:bg-slate-500 z-10 hover:bg-slate-300 hover:dark:bg-slate-700;
  }

  footer {
    @apply flex items-center justify-between overflow-hidden pt-2;

    .meta {
      flex: 4;
      @apply flex flex-col overflow-hidden;

      p {
        @apply text-center overflow-hidden text-ellipsis whitespace-nowrap;

        &:first-child {
          @apply text-sm font-semibold leading-relaxed;
        }

        &:last-child {
          @apply text-xs leading-relaxed opacity-50;
        }
      }
    }
  }
}
