.resume {
  @apply flex flex-col;
  .preview {
    aspect-ratio: 1 / 1.41;

    @apply flex items-center justify-center shadow;
    @apply cursor-pointer rounded-sm bg-neutral-50 transition-opacity hover:opacity-50 dark:bg-slate-900;
  }

  footer {
    @apply flex items-center justify-center text-center pt-2;

    .meta {
      p:first-child {
        @apply text-sm font-semibold leading-relaxed;
      }

      p:last-child {
        @apply text-xs leading-relaxed opacity-50;
      }
    }
  }
}
