.container {
  @apply font-light;

  div {
    @apply first-letter:uppercase;
  }
  h4 {
    @apply underline tracking-wider;
  }
  ul {
    @apply list-outside mt-1 mb-1 rtl:mr-3;
    margin-left: -0.7rem;
    li {
      div {
        @apply rtl:mr-2 whitespace-pre-line;
      }
      &::marker {
        content: '✦';
        color: #fafafa;
      }
    }
  }
  ol {
    @apply list-outside mt-1 mb-1 rtl:mr-4;
    margin-left: -0.3rem;
    li {
      div {
        @apply rtl:mr-1 whitespace-pre-line;
      }
      &::marker {
        color: #fafafa;
      }
    }
  }
}
